<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <includeMdcKeyName>orgId</includeMdcKeyName>
            <includeMdcKeyName>requestId</includeMdcKeyName>
            <timeZone>UTC</timeZone>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

    <logger name="com.nexusguard" level="DEBUG"/>
    <logger name="org.springframework.security" level="WARN"/>
</configuration>
